<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Website</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let item of values; let i = index">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>{{item.website}}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a [routerLink]="['/view', item.id]" routerLinkActive="router-link-active"><button  class='btn btn-link'><i class="fas fa-info"></i></button></a>
                <button class='btn btn-link' (click)="edit(item)"><i class="fas fa-edit"></i></button>
                <button class='btn btn-link' (click)="delete(i)"><i class="fas fa-trash"></i></button></div>
        </td>
    </tr>
</table>