<div>
    <mat-card class="card">
        <h5><strong>List of Students:</strong><span>{{student.length}}</span>
        </h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of student">
                        <td>{{item.id}}</td>
                        <td>{{item.fullname}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.gender}}</td>
                        <td>{{item.address}}</td>
                    <td><button mat-button color="basic" (click)="onEdit(each)"><i class="fas fa-edit"></i></button></td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>