
    <mat-card class="container">
        <h1 class="header">Template Driven Form</h1>
        <form #form="ngForm" (ngSubmit)="onSubmit()" [hidden]="isSubmit">
            <label>First Name:</label>
            <input name="name" [(ngModel)]="fname" required minlength="4" #name="ngModel" class="form-control">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    This Field is Required
                </div>
                <div *ngIf="name.errors.minlength">
                    Must contain 4 characters
                </div>
            </div><br>
            

            <label>Email:</label>
            <input name="email" [(ngModel)]="email" required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  #emailAdd="ngModel" class="form-control"><br>
            <div *ngIf="emailAdd.invalid && (emailAdd.dirty || emailAdd.touched)" class="alert alert-danger">
                    <div *ngIf="emailAdd.errors.required">
                        This Field is Required
                    </div>
                    <div *ngIf="emailAdd.errors.pattern">
                        Invalid Email
                    </div>
                </div><br>

            <label>Gender:</label>
            <select name="gend" [(ngModel)]="gend" required #gender="ngModel" class="browser-default custom-select">
                    <option *ngFor="let item of list" [value]="item">{{item}}</option>
            </select><br>
            <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
                    <div *ngIf="gender.errors.required">
                        This Field is Required
                    </div>
                </div><br>


            <button [disabled]="!form.form.valid" mat-raised-button color="primary">Submit</button>
        </form>
        <div [hidden]="!isSubmit">
            <h5>Your Personal Info: </h5>
            <p>Name: {{newfname}}</p>
            <p>Email: {{newemail}}</p>
            <p>Gender: {{newgend}}</p>
            <button [disabled]="!form.form.valid" mat-raised-button color="accent" (click)="isSubmit = false">Edit</button>
        </div>
    </mat-card>
